*{
    align-items: center;
    justify-content: center;
}
#nav{
    display: flex;
    align-items: center;
justify-content:space-evenly;
background-color: white;
font-family:sans-serif ;
display: flex;
margin-left: 50px; margin-right:50px ;

a{
    color: deeppink;
    text-decoration: none ;
   padding: 20px;}
   #element1{
    flex:3 ;
   }
   #element2{
    flex:3 ;
line-height: 1;
}
   #element3{
    flex:0.5 ;
   }#element4{
    flex:0.5 ;
   }#element5{
    flex:0.5 ;
    color: deeppink;
   }#element6{
    flex:0.5 ;
   
}
}
.bds-c-hero__header{
    background-image: url("https://images.deliveryhero.io/image/foodpanda/homepage/refresh-hero-home-pk.png" );
background-color: aliceblue;
    display: inline;
padding:10px ;
}

#main{
    margin-left:700px ;
    display:inline-block ;
    height: 400px;width: 600px;

}
h1{
    align-items: center;
}
#a2{align-items: center;
    color: deeppink;
    font-family:sans-serif ;
    font-size: large

}
#first-list{
display:flex; 
align-items: center;
justify-content: center;
min-height: 10px; min-width: 10px;

padding: 3px;}
#food-2{
 display:flex;
align-items: center;
justify-content: center;
min-height: 10px; min-width: 10px;
 }
#food-3{
    display:flex;
     align-items: center;
     justify-content: center;
     min-height: 10px; min-width: 10px;
 }
 #food-4{
        display:flex;
        align-items: center;
        justify-content: center;
        min-height: 10px; min-width: 10px;
        }
 #food-5{
            display:flex;
            align-items: center;
            justify-content: center;
            min-height: 10px; min-width: 10px;
             }
#food-6{
display:flex;
align-items: center;
justify-content: center;
min-height: 10px; min-width: 10px;
}
#food-7{
    display:flex;
align-items: center;
justify-content: center;
min-height: 10px; min-width: 10px;
}
.items{
    padding:10px ;
}
#card1{
    border:1px solid gray ; 
border-radius: 10px;
}
#card2{
    border:1px solid gray ; 

border-radius: 10px;}
#card3{
    border:1px solid gray ; 

border-radius: 10px;}
#card4{
    border:1px solid gray ; 

border-radius: 10px;}
#card5{
    border:1px solid gray ; 

border-radius: 10px;}
#card6{
    border:1px solid gray ; 

border-radius: 10px;}
#card7{
    border:1px solid gray ; 

border-radius: 10px;}
#card8{
    border:1px solid gray ; 

border-radius: 10px;}
#card9{
    border:1px solid gray ; 

border-radius: 10px;}
#card10{
    border:1px solid gray ; 

border-radius: 10px;}
#card11{
    border:1px solid gray ; 

border-radius: 10px;}
#card12{
    border:1px solid gray ; 

border-radius: 10px;}
#card13{
    border:1px solid gray ; 

border-radius: 10px;}
#card14{
    border:1px solid gray ; 

border-radius: 10px;}
#card15{
    border:1px solid gray ; 

border-radius: 10px;}
#card16{
    border:1px solid gray ; 

border-radius: 10px;}

#card17{
    border:1px solid gray ; 

border-radius: 10px;}
#card18{
    border:1px solid gray ; 

border-radius: 10px;}
#card19{
    border:1px solid gray ; 

border-radius: 10px;}
#card20{
    border:1px solid gray ; 

border-radius: 10px;}
